<com.wen.mapper namespace="com.wen.dao.IUserDao">
    <select id="findAll" resultType="com.wen.com.wen.pojo.User">
        select * from user
    </select>
    <select id="findByCondition" resultType="com.wen.com.wen.pojo.User" parameterType="com.wen.com.wen.pojo.User">
        select * from user where id = #{id} and username = #{username}
    </select>
</com.wen.mapper>